.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 109px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/gifts-bg-1500w.jpg");
  background-position: center;
}
.landing-page-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  max-width: 1000px;
  align-self: center;
  align-items: center;
  padding-left: 0.5em;
  flex-direction: row;
  justify-content: flex-end;
}
.landing-page-button {
  color: var(--dl-color-gray-white);
  width: 175px;
  height: 40%;
  z-index: 100;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: #370511;
}
.landing-page-button:hover {
  color: #370511;
  border-color: #370511;
  background-color: #ffffff;
}
.landing-page-main {
  width: 100%;
  height: 1194px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: #000000;
}
.landing-page-image {
  width: 15%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.landing-page-cards-container {
  width: 100%;
  height: 966px;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.landing-page-container1 {
  width: 450px;
  height: 966px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}

.landing-page-image1 {
  width: 100%;
  height: 725px;
  padding: var(--dl-space-space-doubleunit);
  box-shadow: 0px 0px 0px 0px #d4d4d4;
  object-fit: cover;
  transition: 0.3s;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-image1:hover {
  transform: scale(1.019);
  box-shadow: 0px 0px 0px 0px #d4d4d4;
}
.landing-page-container2 {
  width: 450px;
  height: 375px;
  display: flex;
  transition: 0.2s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}

.landing-page-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Heebo;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
}
.landing-page-text1 {
  color: #ffffff;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  max-width: 325px;
  text-align: center;
  font-family: Heebo;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-button1 {
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-button1:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 231px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.landing-page-image2 {
  width: 2%;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-link {
  align-self: center;
  font-family: Heebo;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link1 {
  align-self: center;
  font-family: Heebo;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link2 {
  align-self: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}






.landing-page-state2 {
  width: 450px;
  height: 375px;
  display: flex;
  transition: 0.2s;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}

.landing-page-state2-maintext {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Heebo;
  font-weight: 700;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.landing-page-state2-container {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk1 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-right: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk1:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk2 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk2:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk3 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk3:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container1 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk4 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk4:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk5 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk5:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk6 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk6:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container2 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk7 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk7:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk8 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk8:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk9 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk9:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container3 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk10 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk10:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk11 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk11:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk12 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk12:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container4 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk13 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk13:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk14 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk14:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk15 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk15:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container5 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.landing-page-perk16 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk16:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk17 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk17:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-perk18 {
  color: #ffffff;
  width: 150px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk18:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-state2-container6 {
  width: 100%;
  height: 35px;
  display: flex;
  padding: 2px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.landing-page-perk19 {
  color: #ffffff;
  width: 123px;
  height: 25px;
  padding: 0px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-perk19:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}




@media(max-width: 991px) {
  .landing-page-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-container1 {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .landing-page-container {
    background-color: #000000;
  }
  .landing-page-main {
    height: 880px;
  }
  .landing-page-image {
    width: 30%;
  }
  .landing-page-cards-container {
    height: 736px;
  }
  .landing-page-container1 {
    width: 300px;
  }
  .landing-page-image1 {
    width: 100%;
    height: 375px;
  }
  .landing-page-image2 {
    width: 10%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
